/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  padding: 2rem;
  margin: 30px 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px; /* Constrain the width to 800px */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form p {
  margin-bottom: 1rem;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="file"],
.signup-form button {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px double #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-form input[type="file"] {
  margin: 10px;
  padding: 0.5rem 0;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b483e;
  color: #ffffff;
  padding: 12px 24px;
  border: none !important;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
  outline: none;
}

.submit-button:hover {
  background-color: #10655a;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(5, 132, 102, 0.5);
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b60b0b;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
  outline: none;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    background: #ffffff;
    padding: 2rem;
    margin: 30px 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 550px; /* Constrain the width to 800px */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
}
